name: flutter_score_slider
description: Simple & customizable Flutter slider widget for score selections.
version: 1.0.1
homepage: https://github.com/Applitom/flutter_score_slider

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
